<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR INFO</title>
</head>
<body>
   package:{{package}} <br>
   Package Price:{{package_price}} <br>
   Package Messages : {{package_message}} <br>
   Package Call : {{package_call}} <br><br>

   Owner Name : {{user_name}} <br>
   Owner Address : {{user_address}} <br>
   Owner Whatsaap Number : {{whatsaap_number}} <br>
   Owner Emergency Number : {{call_number}} <br><br>

   Device Name : {{device_name}} <br>
   Device Messages : {{device_messages}}
</body>
</html>